<html>
        <head>
                <title>Django Girls Event</title>
            </head>
        <body>
           <h1>Django Girls Event</h1>
           <br>
           <h2>Tehran</h2><br>
           <div>
                <p>Date : August 29, 2019 <br> Time : 8:30 - 18:30 </p>
           </div>

           {% for post in posts %}
            <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}

        </body>
</html>
